[Desktop Entry]
Type=Application
Name=tinytodo
Icon=icon-launcher-gallery
Exec=invoker --type=j -s /opt/sdk/bin/tinytodo
Comment=Sailfish UI application


